  <h1><%= @specialty.name %> Providers</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Specialty</th>
    <th>Payment</th>
  </tr>
 
<% @providers.each do |prov| %>
  <tr>
    <td><%= link_to prov.npi, "/providers/#{prov.npi}" %></td>
    <td><%= prov.last_org_name + ", " + prov.first_name%></td>
    <td><%= prov.street1 + " " + prov.city + ", " + prov.state%></td>
    <td><%= prov.specialty %></td>
    <td><%= number_to_currency(prov.total_pmt) %></td>
  </tr>
<% end %>
</table>